Repository coffeelint/coffeelint, pull requests merged in 2020-02, with the labels that each got.

#10 prevent endless loop if lineNumber is negative
  src/rules/indentation.coffee
Labels: needs tests

#20 Merge pull request #20 from UziTech/pr/636
  src/rules/no_tabs.coffee
  test/test_coffeelint.coffee
  test/test_no_tabs.coffee
  test/test_no_trailing_whitespace.coffee
Labels: bug

#12 Merge pull request #12 from UziTech/pr/644
  src/reporters/checkstyle.coffee
  test/test_reporters.coffee
Labels: needs tests

#14 CSVReporter: Properly double quote field
  src/reporters/csv.coffee
  test/test_reporters.coffee
Labels: bug

#22 colon_assignment_spacing: add opt. properties min_left, min_right
  src/rules/colon_assignment_spacing.coffee
  test/test_colon_assignment_spacing.coffee
Labels: new rule option

#16 Addressing default_parameters
  src/rules/space_operators.coffee
  test/test_space_operators.coffee
Labels: new rule option

#17 Merge pull request #17 from UziTech/pr/487
  src/coffeelint.coffee
  src/rules/missing_parseint_radix.coffee
  test/test_missing_parseint_radix.coffee
Labels: new rule

#13 Merge pull request #13 from UziTech/pr/545
  src/coffeelint.coffee
  src/rules/prefer_logical_operator.coffee
  test/test_prefer_logical_operator.coffee
Labels: new rule

#34 Add ignore elision option to spacing_after_comma rule
  src/rules/spacing_after_comma.coffee
  test/test_spacing_after_comma.coffee
Labels: new rule option

#33 Add mono {object} spaces option to braces_spacing rule
  src/rules/braces_spacing.coffee
  test/test_braces_spacing.coffee
Labels: new rule option
